@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$baseFont: "Poppins", sans-serif;

$baseColor: #33d2d1;
$link-color: #09b2e2;
$white: #fff;
$geryText: rgb(112, 122, 138);     

$dark-theme: rgb(20, 21, 26);
$grey: rgb(230, 232, 234);
$dark: #302828;
$red: #ef4f4f;
$dark-light: rgba(0, 0, 0, 0.5);
$dark-light-2: rgba(48, 40, 40, 0.5);
$lightBlack: rgba(0, 0, 0, 0.3);
$lightRed: rgba(228, 101, 101, 0);
$gradient: linear-gradient(270deg, #00abe6 0%, #62f6be 100%);
$gradient-2: linear-gradient(
  28deg,
  rgba(0, 171, 230, 0.3) 0%,
  rgba(98, 246, 190, 0.3) 100%
);
$gradient-3: linear-gradient(
  284deg,
  rgba(0, 171, 230, 0.7) 0%,
  rgba(98, 246, 190, 0.7) 100%
);
$gradient-4: linear-gradient(
  280deg,
   rgb(246, 70, 93) 0%,
   rgb(246, 70, 93) 100%,  
);
$gradient-5: linear-gradient(
  280deg,
  #00d09c 0%,
  #00d09c 100%
);
$borderColor: #3cd9ce;
$borderColor-2: rgba(9, 178, 226, 0.6);
$borderColor-3: #e8e8e8;
