@import "../../Theme/_var.scss";

.layout-card {
  background-color: $white;
  border-radius: 1.5rem;
  // box-shadow: 0px 3px 60px #0000000d;
  max-width: 109rem;
  // margin: 3rem auto;
  margin: 0 auto 3rem;
  position: relative;
  &__title {
    padding: 2.7rem 13rem;
    text-align: left;
    box-shadow: 0px 3px 10px #00000005;
  };
  &__titleSubtitle {
    text-align: left;
    padding: 0rem 13rem;
  }
  &__inner {
    // padding: 3rem 13rem;
    padding: 0 13rem;
    @media (max-width: 991px) {
      // padding: 3rem 7rem;
      padding: 0 7rem;
    }
    @media (max-width: 574px) {
      padding: 0 3rem;
    }
  }
}

.powerby_img {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 574px) {
    transform: translate(33%, 0);
    top: auto;
    right: 50%;
    bottom: -160px;
    flex-direction: row;
    // position: static;
    text-align: center;
  }

  h4 {
    height: 100px;
    width: 110px;
    white-space: nowrap;
    transform: rotate(90deg);
    @media (max-width: 574px) {
      transform: rotate(0);
      height: 65px;
      width: 200px;
    }
  }

  img {
    max-width: 30px;
    transform: rotate(180deg);
    @media (max-width: 574px) {
      transform: rotate(90deg);
    }
  }
}
